.boxesContainer {
	margin-left          : auto;
	width                : (@box_columns * (@box_size + @box_margin));

	.box {
		background-color : @color_other;
		border-bottom    : @box_border_size solid darken(@color_other, 10%);
		border-radius    : 4px;
		border-top       : 1px solid lighten(@color_other, 10%);
		display          : inline-block;
		height           : @box_size - @box_border_size - 1px;
		margin           : 0 0 @box_margin @box_margin;
		vertical-align   : bottom;
		width            : @box_size;
	}
}