@dark_gray         : #272727;
@color_skinny      : #ffaa00;
@color_skype       : #00c8ff;
@color_h323        : #6cff00;
@color_acid        : #ff6666;
@color_pstn        : #dd80ff;
@color_other       : #adadad;

@screen_width      : 1080px;
@box_size          : 37px;

@box_margin        : @box_size/2;
@box_columns       : floor(@screen_width * (0.65) / (@box_size + @box_margin));

@box_border_size   : 3px;
@count_width       : floor(1.282 * @box_size);
@left_column_width : @screen_width - (2*32px) - (@box_columns * (@box_size + @box_margin));