body {
	background                  : @dark_gray;
	color                       : white;
	margin                      : 32px;
}

.container {
	border-bottom : 2px solid rgba(255, 255, 255, 0.25);
	margin-left   : 50px;
	position      : relative;
	min-height    : 53px;

	&[data-count='0'] {
		display                 : none;
	}

	.box_color(@color){
		.box {
			background-color    : @color;
			border-bottom-color : darken(@color, 10%);
			border-top-color    : lighten(@color, 30%);
		}
	}

	&.skinny { .box_color(@color_skinny); }
	&.carmel { .box_color(@color_carmel); }
	&.webrtc { .box_color(@color_webrtc); }
	&.roomsystem   { .box_color(@color_h323);   }
	&.acid   { .box_color(@color_acid);   }
	&.pstn   { .box_color(@color_pstn);   }
	&.base   { .box_color(@color_base);   }
	&.bluejeansapp { .box_color(@color_carmel); }
}

.explanation {
	display: none;
	#fonts > .explanation();
	.font-size(17pt);
	/*margin-left    : 78px;*/
	text-align: right;
	margin-top     : 17px;
	opacity        : 0.35;
	text-transform : uppercase;
}